<ion-view view-title="Shift">
  <ion-content>


<div  style="background-color: #4881ea; height:700px; ">

        <div class="container">
          <div class="page-header">
            <h1 class="bob3" style="text-align: center; font-size: 60px; margin:0 " > Lineups </h1>
          </div>
        </div>

      <br>

      <img  class="img-circle" style=" margin-left: auto; margin-right: auto;
      display: block; border-bottom: 6px solid black; border-left: 6px solid black;" src="img/images-3.jpeg" >

      <div class="row">
        <div class="col-*-*"></div>
        <div> </div>
      </div>


     <div class="bob3" style="width:300px; margin: 0 auto; ">
         <br> <br>
         <a href="#/signup" type="button" style="width:300px;  " class="btn btn-primary">
           <span  style="font-size: 25px;"> Sign Up </span>
         </a>

         </br> </br>
         <button  type="button" ng-click="loginMod()" style="width:300px; margin: 0 auto; " class="bob3 btn btn-primary">
           <spans  style="font-size: 25px;"> Log In </span>
         </button>
     </div>



</div>

</ion-content>
</ion-view>
