
<ion-view view-title="Browse">
  <ion-content>
<!--
<br><br>
<div class="form-group row">
  <div class="col-xs-3">
      <label for="ex1">Email: jarredl</label>
      <input class="form-control" id="ex1"   ng-model="firstname" type="text">
  </div>
  <div class="col-xs-3">
      <label for="ex2">Password: paassword2</label>
      <input class="form-control" id="ex2"   ng-model="lastname" type="text">
  </div>
  <div class="col-xs-4">
      <button style="margin-top:30px" ng-click="ServiceFunction2()" > Login</button>
  </div>
</div>

<button ng-click="fbPass()">Press Me.</button>

<button ng-click="Pass2()">Deal.</button> <br><br>

<button ng-click="setLocal()">SET LOCAL STORAGE</button> <br>
<button ng-click="getLocal()">SHOW LOCAL STORAGE</button> <br>
<button ng-click="removeLocal()">REMOVE PROJECT</button> <br>
<button ng-click="getLocalbyKey()">GET BY KEY</button> <br>


<table class="table table-bordered" >
          <tr>
              <th>#</th>
              <th>Name</th>
              <th>Price</th>
              <th>Quantity</th>
          </tr>
          <tr ng-repeat="item in foodItems" ng-class="{'selected':$index == 0}" >
                   ........
              <td>{{$index}}</td>
               <td>{{item.name}}</td>
              <td>{{item.price}}</td>
              <td>{{item.quantity}}</td>
          </tr>
      </table>
-->
<!--https://thawing-ocean-11742.herokuapp.com/signup22 -->

    <button ng-click="myFunction()">LoginStuff</button>

    <button ng-click="Servicefacebook()">LoginStuff22</button>


    <button ng-click="savetoken()">SaveToken</button>

    <button ng-click="gettoken()">Get Token</button>

    <button ng-click="back()">Back</button>
<br><br>

<button ng-click="this_notification()">NOTIFICATION1</button>

<br><br>

<button ng-click="notification_message()">NOTIFICATION2</button>
  {{blue}}

<br><br>

<button ng-click="dialog()">DIALOG</button>

<br><br>

this_notification2
<button onclick="window.plugins.toast.showShortTop('Hello there!', function(a){console.log('toast success: ' + a)}, function(b){alert('toast error: ' + b)})">Toast showShortTop</button>
<br><br>

<button ng-click="this_notification2()">NOTIFICATION4</button>

<br><br>

<button ng-click="scheduleSingleNotificationo()">NOTIFICATION5</button>

<br><br>

<button ng-click="scheduleMultipleNotifications()">NOTIFICATION6</button>

<br><br>

<button ng-click="scheduleDelayedNotification()">NOTIFICATION7</button>

<br><br>
<button ng-click="getNotif()">GET TOKEN</button>

{{getToken}}
<br><br>



<a href="https://thawing-ocean-11742.herokuapp.com/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
<a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
<a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
</ion-content>
</ion-view>
