<ion-view view-title="Peopleline">
  <ion-content>

       <!--<div style="padding-left:50px; padding-right:50px; ">  -->

        <div style="color:white; text-align: center; background-color: #4881ea; vertical-align: middle;
          line-height: 50px;   font-size: 15px;" >
          <span style="margin-left:50px"> </span>
          <span  style="">Peopleline Controller </span>
          <button type="button" class="btn btn-default" ng-click="openpeoplemodal1()" style="line-height: 20px;
           background-color: #4881ea;  border-style: none; float: right; font-size: 25px; margin-top:5px; margin-right:10px">
            <span style="color:white" class="glyphicon glyphicon-plus"></span>
          </button>
        </div>


        <p ng-show="blue" id="demo2" style="font-weight: bold;"></p>

        <button ng-click="nodeValidation()">Validation</button>
        {{validationData}}
              <!-- TITLE / INFORMATION ! -->


          <h1 class="bob3" style="text-align:center;">Store : {{grabStorename}} <span style="margin-left:50px;"> Lines #: {{grabLineNumber}} <span></h1>

          <!--  <div class="bob3" style="font-size:30px;text-align:center;">Lines #: {{grabLineNumber || 'Line not passed!'}} </div>    -->
              <!--        NOTE: THIS IS THE BUTTON FOR ADDING A PERSON -->
        <!--     <button style="background-color:teal" class="btn btn-default btn"  ng-click="openpeoplemodal3()">Add to Lineup</button>  -->

          <!-- Add Yourself Text ! -->

        <div style="padding-left:50px; padding-right:50px">
            <h4 style="text-align:center">Please press this button to add Yourself to Lineup:</h4>
                <!-- ADD YOURSELF BUTTON! -->
             <div>
            <!--  <button class="btn btn-default btn"  ng-click="openpeoplemodal2()">Add Yourself</button> -->
            <!--  <button class="btn btn-default btn"  ng-click="distanceCalc()">Distance</button>
              <button class="btn btn-default btn"  ng-click="getStoreCords()">Store Coordinates</button>
              <button class="btn btn-default btn"  ng-click="distanceCalc2()">FINAL CALC:</button> -->
              <!--   <li>  The Line's Coordinates are:  </li>
           <li ng-repeat="place in places">{{place.latitude}} <br> {{place.longitude}}</li> -->


              <li>FINAL CALCULATION: <span ng-show="showfinalCalc">{{finalCalc}}</span></li>
             </div>
            <br>
        </div>

          <!-- DELETE ALERT  -->


          <button ng-show="deleteButton" style="width:100%; height:50px; opacity: 0.5; " ng-click="exitDeleteMode()" type="button" class="btn btn-danger">
            DELETE MODE! PLESE PRESS ME TO EXIT!</button>


              <!-- POSITION / DISPLACEMNT BUTTONS! -->
          <!--  <div  style="padding-left:50px; padding-right:50px">
            <button class="btn btn-default btn"  ng-click="positionButton()">POSITION</button>
            <button style="float:right" class="btn btn-default btn"  ng-click="displacementButton()">DISPLACEMENT</button>
          </div>

          <ul class="nav nav-tabs"  style="text-align:center;">
            <li class="active" style=" width:50%;"><a data-toggle="tab" ng-click="positionButton()" href="">POSITION</a></li>
            <li style=" width:50%;"><a data-toggle="tab" href="" ng-click="displacementButton()">DISPLACEMENT</a></li>
          </ul>
-->

          <ul class="nav nav-tabs"  style="text-align:center;">
            <li class="active" style=" width:33%;"><a data-toggle="tab" ng-click="positionButton()" href="">POSITION</a></li>
            <li style=" width:33%;"><a data-toggle="tab" href="" ng-click="optimizeStart()">OPTIMIZE</a></li>
            <li style=" width:33%;"><a data-toggle="tab" href="" ng-click="displacementButton()">DISPLACEMENT</a></li>
          </ul>




            <!-- TABLE BEGINS! -->

					<div class="table-responsive">
						<table class="table table-hover">
              <!--
  							<thead>
    								<tr>
    									<th style="text-align: center;">Name</th>
    								</tr>
  							</thead>
              -->
  							<tbody>
    								<tr ng-hide="numberLinesZero2" style="text-align: ;" ng-class="{'selected':$index == 0}"  ng-repeat="person in people | filter:search | orderBy:'person.created'" >
    									<td > <a style="background-color:white; border:none; "  href="" ng-click="findDistance22($index)" class="list-group-item active ">
                        <div >
                          <!--    <img ng-show= "imageSaved" class="img-circle" style="display:block; float: left; weight:50px; height:50px;  border-style: dotted; " src="{{black2}}" > -->
                          <img ng-hide="imageSaved" class="img-circle" style="display:block; weight:50px; height:50px; float: left; border-style: dotted; " src="img/images-3.jpeg" >

                          <span style="color:black;"  >{{person.email}} <br> Position:{{$index+1}} </span>
                         <!--  <span style="color:black;" ng-if="$index ==  0" ng-style="myObj">{{person.email}} <br> Position:{{$index+1}} </span>   -->

                        </div>    <!-- Need to store userid in DB then get all from DB and put in:
                           {{"http://graph.facebook.com/" +person.iduserid+ "/picture?type=square"}} +    -->
                      </td>

                      <td style="width:80px;"  ng-show="deleteButton">
                        <button class="btn btn-danger btn" style="float:right;  height:40px;  margin-top:10px" ng-click="deletePeople2(person.email)">Delete</button>
                      </td>
    								</tr>

                    <tr ng-show="numberLinesZero2" style="text-align: left;"   ng-repeat="person in people | filter:search | orderBy:'person.distance'" >
    									<td> <a style="background-color:white; border:none; text-align: left" href="/#/profile2" ng-click="checkPeopleFcn(person.local.email)" class="list-group-item active ">
                          <div>
                        <!--    <img ng-show= "imageSaved" class="img-circle" style="display:block; float: left;  weight:50px; height:50px;  border-style: dotted; " src="{{black2}}" >   -->
                            <img ng-hide="imageSaved" class="img-circle" style="display:block; weight:50px; height:50px; float: left; border-style: dotted; " src="img/images-3.jpeg" >

                            <span style="color:black;" >
                              Person:    {{person.email}} <br>
                              Distance:  {{person.distance}}<br>
                              Position:   {{$index+1}}
                            </span>
                          </div>

                      <!--      <button class="btn btn-danger btn-xs" style="float: right; " ng-click="removeName($index)">Delete</button> -->

                      </td>


                      <td  style="width:80px"  ng-show="deleteButton">
                        <button class="btn btn-danger btn" style="float:right;  margin-top:5px" ng-click="deletePeople2(person.email)">Delete</button>
                      </td>
    								</tr>


  							</tbody>
						</table>
					</div>

          <div style="height:40px;">
          </div>


  </ion-content>
</ion-view>
