<ion-modal-view>
  <ion-header-bar>
    <h1 class="title bob3" style="font-size: 30px; text-align:center "> PeopleLine Information </h1>
    <div class="buttons">
      <button class="button button-clear" style="color:black;" ng-click="closepeoplemodal1()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">

        <!------- PAGE INFO --------->
            This page shows the people available in this line.

              <div class="bob3 item item-text-wrap" style="font-size: 25px; ">
                Please either: <br>
                1) Add Yourself to line  <br>
                2) Select a Person
              </div>

              <!------- ADD YOURSELF --------->
                <div class="bob3 item item-text-wrap" style="font-size: 25px; text-align:center;">
                  Please either: <br>
                    {{fullName || "Full Name"}} {{userdata.facebook.name}}<br>
                  Email: {{useremail || "User Email"}}<br>
                  ID: {{userid || "User ID"}}<br>
                  Token: {{usertoken || "User Token"}}<br>

                  <p id="demo2" style="font-weight: bold;"></p>
                  Displacement: {{finalCalc}}

                  <div style="font-size: 20px;   text-align:center ">
                Press to Add to Table:  <br>
                <button type="button" style="width:200px" ng-click="addPeopletoDB()" data-dismiss="modal" class="btn btn-primary">Add Data</button> <br>

                  </div>

                </div>



              <!------- ADD NAME TO LINEUP IF YOUR ADMINISTRATOR --------->

                <div class="bob3 item item-text-wrap" style="font-size: 25px; "> <br>
                  As Administrator you can Add Name to Lineup in certain Position:
                </div>

                <div class="bar bar-header item-input-inset">
                    <label class="item-input-wrapper" >
                      <i class="icon ion-ios-search placeholder-icon"></i>
                      <input type="search" ng-model="addnameLine.line"  placeholder="Please add a Store Name">
                    </label>
                    {{addnameLine.line}}
                    <button class="button button-clear" ng-click="addpersonAfter()" style="color:black">
                      Add
                    </button>

                </div>
                <br>


                <!------- DELETE MODE! --------->
                <div class="bob3" style="font-size: 20px;   text-align:center ">
                <span style="font-size:25px;">  Press to Enter Delete Mode: </span>
                  <button type="button" style="width:150px;" ng-click="deleteMode()" data-dismiss="modal" class="btn btn-danger">Delete Mode</button> <br>
                  Please Note: As Administrator you can delete any person from line.
                </div>

      </div>
    </div>


  </ion-content>
</ion-modal-view>
